= form_for @entry do |f|
  - @resource.attributes.form.each_value do |attribute|
    - if attribute.show?
      %fieldset.form-group
        = render attribute.form_partial_path, entry: @entry,
          attribute: attribute
  %fieldset.form-group
    = f.submit t('adminable.buttons.submit'), class: 'btn btn-primary'
    = link_to t('adminable.buttons.back'), polymorphic_path(@resource.model),
      class: 'btn btn-secondary-outline'
    - if @entry.persisted?
      = link_to t('adminable.buttons.delete'), polymorphic_path(@entry),
        class: 'btn btn-danger-outline pull-xs-right', method: :delete,
        data: { confirm: t('adminable.ui.confirm') }
