= form_for @entry, method: (@entry.persisted? ? :patch : :post) do |f|
  - @fields.form.each do |field|
    %fieldset.form-group
      = render field.form_partial_path, entry: @entry, field: field
  %fieldset.form-group
    = f.submit t('adminable.buttons.submit'), class: 'btn btn-primary'
    = link_to t('adminable.buttons.back'), polymorphic_path(@resource.model),
      class: 'btn btn-secondary-outline'
    - if @entry.persisted?
      = @entry.link_to_delete
