.m-b-1.clearfix
  %h1.pull-md-left.m-b-2
    = @resource.model.model_name.human(count: 2)
  = link_to t('adminable.buttons.new', resource: @resource.model.model_name.human),
    new_polymorphic_path(@resource.model), class: 'btn btn-primary pull-md-right m-b-2'
.row
  %div{ :class => (@resource.attributes.search.any? ? 'col-md-9' : 'col-md-12') }
    .table-responsive.m-b-3
      %table.table.table-striped
        %thead
          %tr
            - @resource.attributes.index.each do |attribute|
              - if attribute.options[:index]
                %th.text-nowrap{ :class => ('text-md-center' if attribute.options[:center]) }
                  = sort_link(@q, attribute.name, hide_indicator: true)
            %th
        %tbody
          - @entries.each do |entry|
            %tr
              - @resource.attributes.index.each do |attribute|
                - if attribute.options[:index]
                  %td{ :class => ('text-md-center' if attribute.options[:center]) }
                    = render attribute.index_partial_path, entry: entry,
                      attribute: attribute, value: entry[attribute.key]
              %td.text-nowrap.text-md-right
                = link_to t('adminable.buttons.edit'), edit_polymorphic_path(entry),
                  class: 'label label-primary'
                = link_to t('adminable.buttons.delete'), polymorphic_path(entry),
                  class: 'label label-danger', method: :delete,
                  data: { confirm: t('adminable.ui.confirm') }
          - if @entries.empty?
            %tr
              %td.text-md-center.text-muted{ :colspan => @resource.attributes.index.size + 1 }
                No data available
  - if @resource.attributes.search.any?
    .col-md-3.hidden-sm-down
      = render 'search'
= paginate @entries, views_prefix: 'adminable'
