.m-b-1.clearfix
  %h1.pull-md-left.m-b-2
    = @resource.model.model_name.human(count: 2)
  = link_to t('adminable.buttons.new', resource: @resource.model.model_name.human),
    new_polymorphic_path(@resource.model), class: 'btn btn-primary pull-md-right m-b-2'
.row
  %div{ :class => (@fields.search.any? ? 'col-md-9' : 'col-md-12') }
    .table-responsive.m-b-3
      %table.table.table-striped
        %thead
          %tr
            - @fields.index.each do |field|
              %th.text-nowrap{ :class => ('text-md-center' if field.options[:center]) }
                = sort_link(@q, field.name, hide_indicator: true)
            %th
        %tbody
          - @entries.each do |entry|
            %tr
              - @fields.index.each do |field|
                %td{ :class => ('text-md-center' if field.options[:center]) }
                  = render field.index_partial_path, entry: entry,
                    field: field, value: entry.public_send(field.name)
              %td.text-nowrap.text-md-right
                = entry.link_to_edit_small
                = entry.link_to_delete_small
          - if @entries.empty?
            %tr
              %td.text-md-center.text-muted{ :colspan => @fields.index.size + 1 }
                No data available
  - if @fields.search.any?
    .col-md-3.hidden-sm-down
      = render 'search'
= paginate @entries, views_prefix: 'adminable'
