!!!
%html
  %head
    %title CMS
    = stylesheet_link_tag 'cms/application', media: 'all'
    = javascript_include_tag 'cms/application'
    = csrf_meta_tags
    %link{ :href => 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', :rel => 'stylesheet' }/
  %body
    .navbar.navbar-full.navbar-dark.bg-primary.m-b-3
      .container
        %ul.nav.navbar-nav
          - Cms::Configuration.resources.each do |resource|
            %li.nav-item
              = link_to resource[:name].capitalize, polymorphic_path(resource[:name]), class: 'nav-link'
    .container.p-b-3
      - if flash[:alert] || notice.present?
        .p-b-2
          - if flash[:alert]
            - flash[:alert].each do |alert|
              = render 'cms/shared/alert', message: alert, type: 'danger'
          - if notice.present?
            = render 'cms/shared/alert', message: notice, type: 'success'
      = yield
