!!!
%html
  %head
    %title CMS
    = stylesheet_link_tag 'cms/application', media: 'all'
    = javascript_include_tag 'cms/application'
    = csrf_meta_tags
  %body
    .navbar.navbar-full.navbar-dark.bg-primary.m-b-3
      .container
        %ul.nav.navbar-nav
          - Cms::Configuration.resources_names.each do |resource_name|
            %li.nav-item
              = link_to resource_name.capitalize, polymorphic_path(resource_name), class: 'nav-link'
    .container.p-b-3
      = yield
