= render 'adminable/shared/label', attribute: attribute
= hidden_field_tag "#{@resource.model.model_name.param_key}[#{attribute.key}]", nil
#clusterizeScrollArea.clusterize-scroll.associations
  #clusterizeContentArea.clusterize-content
    - attribute.association.all.each do |association_entry|
      .association
        %label.c-input.c-radio.m-a-0
          = radio_button_tag "#{@resource.model.model_name.param_key}[#{attribute.key}]",
            association_entry.id, entry.send(attribute.key) == association_entry.id
          %span.c-indicator
          = link_to association_entry.to_name,
            edit_polymorphic_path(association_entry),
            target: '_blank'
