= render 'adminable/shared/label', attribute: attribute
= text_area_tag "#{@resource.model.model_name.param_key}[#{attribute.name}]",
  entry[attribute.name],
  class: "form-control #{ 'wysiwyg' if attribute.options[:wysiwyg] }", rows: 5
