= render 'adminable/shared/label', field: field
= text_area_tag "#{@resource.model.model_name.param_key}[#{field.name}]",
  entry[field.name],
  class: "form-control #{ 'wysiwyg' if field.options[:wysiwyg] }", rows: 5
