.row
  .col-md-8
    = form_for @entry do |f|
      - @columns_for_form.each do |column|
        %fieldset.form-group
          = f.label column.name
          = render "cms/resources/form/#{ column.type }", f: f, column: column
      %fieldset.form-group
        = f.submit 'Submit', class: 'btn btn-primary'
        = link_to 'Back', send("#{ @resource.model_name.route_key }_path"),
          class: 'btn btn-secondary-outline'
        - if @entry.persisted?
          = link_to 'Delete', send("#{ @resource.model_name.element }_path", @entry),
            class: 'btn btn-danger-outline pull-md-right', method: :delete,
            data: { confirm: 'Are you sure?' }
