= form_for @entry do |f|
  - @columns_for_form.each do |column|
    %fieldset.form-group
      = f.label column.name
      = render "cms/resources/form/#{ column.type }", f: f, column: column
  %fieldset.form-group
    = f.submit 'Submit', class: 'btn btn-primary'
