%h1.m-b-3
  = @resource.model_name.human.pluralize
%table.table.m-b-3.table-striped
  %thead
    %tr
      - @attributes_for_list.each do |attribute|
        %th
          = @resource.human_attribute_name(attribute.name)
      %th
  %tbody
    - @entries.each do |entry|
      %tr
        - @attributes_for_list.each do |attribute|
          %td
            = render "index/#{ attribute.type }", entry: entry, attribute: attribute, value: entry[attribute.key]
        %td.text-nowrap.text-md-right
          = link_to 'Edit', edit_polymorphic_path(entry),
            class: 'label label-primary'
          = link_to 'Delete', polymorphic_path(entry),
            class: 'label label-danger', method: :delete, data: { confirm: 'Are you sure?' }
= link_to "New #{ @resource.model_name.human }",
  new_polymorphic_path(@resource), class: 'btn btn-primary'
