%h1.m-b-3
  = @resource.model_name.human.pluralize
%table.table.m-b-3.table-striped
  %thead
    %tr
      - @attributes_for_list.each do |attribute|
        %th
          = attribute.name
      %th
  %tbody
    - @entries.each do |entry|
      %tr
        - @attributes_for_list.each do |attribute|
          %td
            = render "list/#{ attribute.type }", entry: entry[attribute.key], attribute: attribute
        %td.text-nowrap.text-md-right
          = link_to 'Edit', send("edit_#{ @resource.model_name.element }_path", entry),
            class: 'label label-primary'
          = link_to 'Delete', send("#{ @resource.model_name.element }_path", entry),
            class: 'label label-danger', method: :delete, data: { confirm: 'Are you sure?' }
= link_to "New #{ @resource.model_name.human }",
  send("new_#{ @resource.model_name.element }_path"), class: 'btn btn-primary'
